<div class="op-modal--portal ngdialog-theme-openproject">
  <div
    class="op-modal--modal-container"
    data-indicator-name="modal"
    tabindex="0"
  >
    <div class="op-modal--modal-header">
      <a class="op-modal--modal-close-button" *ngIf="showClose">
        <i
          class="icon-close"
          (click)="closeMe($event)"
          [attr.title]="text.close_popup">
        </i>
      </a>
      <h3 class="icon-context icon-add" [textContent]="text.title"></h3>
    </div>

    <div class="ngdialog-body op-modal--modal-body">
      <form [formGroup]="form">
        <div class="form--field" *ngIf="step === 'first'">
          <div class="form--field-container">
            <div class="form--select-container">
              <label class="form--label" [textContent]="text.name"></label>
              <input type="text" formControlName="name">
            </div>
          </div>
        </div>

        <div class="form--field" *ngIf="step === 'second'">
          <div class="form--field-container">
            <div class="form--select-container">
              <label class="form--label" [textContent]="text.email"></label>
              <input type="text" formControlName="email">
            </div>
          </div>
        </div>
        <p *ngIf="step === 'complete'">
          You have completed this wizard!
        </p>
      </form>
    </div>
    <div class="op-modal--modal-footer">
      <button
        class="button -highlight"
        *ngIf="step !== 'complete'"
        (click)="nextStep()"
        [disabled]="this.form.invalid"
        [textContent]="text.button_next"
        [attr.title]="text.button_next"
      >
      </button>
      <button (click)="closeMe($event)"
              [attr.title]="text.button_cancel"
              [textContent]="text.button_cancel"
              class="confirm-form-submit--cancel button">
      </button>
    </div>
  </div>
</div>
